<div class="container mt-4">
    <h1 class="text-center mb-4">Liste Des rapports d'incidents</h1>
<!-- Inside your component's HTML template -->
<h2>{{ loggedInUsername }}</h2>

    <!-- Button group for Create New and PDF buttons -->
    <div class="d-flex justify-content-between mb-3">
        <!-- Create New button -->
        <button class="btn btn-success" (click)="addStage()">
            <i class="fas fa-plus-circle mr-2"></i> Créer un nouveau
        </button>
        
        <!-- PDF button -->
        <button class="btn btn-info" (click)="generatePdf()">
            <i class="fas fa-file-pdf mr-2"></i> Générer PDF
        </button>
    </div>
    <input type="date" id="datePicker" class="form-control form-control-sm" (change)="searchByDate($event)">

    <!-- Input field for searching -->
    <div class="input-group mb-3">
        <input type="text" [(ngModel)]="searchQuery" (input)="search()" class="form-control form-control-sm" placeholder="Rechercher">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-sm" type="button" (click)="search()">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    
    <!-- Table of incidents -->
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover">
            <!-- Table headers -->
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom de l'incident</th>
                    <th scope="col">Titre de Incident</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date d'incident</th>
                    <th scope="col">Lieu d'incident</th>
                    <th scope="col">Équipement/Composant impliqué</th>
                    <th scope="col">Dommages matériels</th>
                    <th scope="col">Gravité de l'incident</th>
                    <th scope="col">Facteurs contributifs</th>
                    <th scope="col">Action corrective</th>
                    <th scope="col">userId</th> <!-- New column for userId -->
                    <th scope="col">Action</th>

                </tr>
            </thead>
            
            <!-- Table body -->
            <tbody>
                <ng-container *ngFor="let item of filteredItems; let i = index">
                    <tr [ngClass]="{ 'table-primary': i % 2 === 0, 'table-secondary': i % 2 !== 0 }">
                        <td>{{item.id}}</td>
                        <td>{{item.nom_entreprise}}</td>
                        <td>{{item.titreStage}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.dateIncident}}</td>
                        <td>{{item.lieuIncident}}</td>
                        <td>{{item.equipementComposant}}</td>
                        <td>{{item.dommagesMateriels}}</td>
                        <td>{{item.graviteIncident}}</td>
                        <td>{{item.facteursContributifs}}</td>
                        <td>{{item.actionCorrective}}</td>
                        <td>{{ item.userId }}</td> <!-- Display userId -->

                       


                        <td>
                            <button class="btn btn-warning btn-sm" (click)="selectData(item)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="btn btn-danger btn-sm" (click)="removeData(item.id)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
 
    
</div>
