<div class="container mt-4">
    <h1 class="text-center mb-4">Ajouter des rapports d'incidents</h1>
    <hr>
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id" id="id">
  
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nom_entreprise">Nom d'incident</label>
                    <input type="text" class="form-control" formControlName="nom_entreprise" id="nom_entreprise" placeholder="Nom d'entreprise">
                </div>
                <div class="form-group">
                    <label for="titreStage">Titre de rapport d'incident</label>
                    <input type="text" class="form-control" formControlName="titreStage" id="titreStage" placeholder="Titre de stage">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" formControlName="description" id="description" placeholder="Description">
                </div>
                <div class="form-group">
                    <label for="dateIncident">Date d'incident</label>
                    <input type="datetime-local" class="form-control" formControlName="dateIncident" id="dateIncident">
                </div>
                <div class="form-group">
                    <label for="lieuIncident">Lieu Incident</label>
                    <input type="text" class="form-control" formControlName="lieuIncident" id="lieuIncident" placeholder="Lieu Incident">
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="equipementComposant">Équipement/Composant</label>
                    <input type="text" class="form-control" formControlName="equipementComposant" id="equipementComposant" placeholder="Équipement/Composant">
                </div>
                <div class="form-group">
                    <label for="dommagesMateriels">Dommages Matériels</label>
                    <input type="text" class="form-control" formControlName="dommagesMateriels" id="dommagesMateriels" placeholder="Dommages Matériels">
                </div>
                <div class="form-group">
                    <label for="graviteIncident">Gravité de l'incident</label>
                    <input type="text" class="form-control" formControlName="graviteIncident" id="graviteIncident" placeholder="Gravité de l'incident">
                </div>
                <div class="form-group">
                    <label for="facteursContributifs">Facteurs Contributifs</label>
                    <input type="text" class="form-control" formControlName="facteursContributifs" id="facteursContributifs" placeholder="Facteurs Contributifs">
                </div>
                <div class="form-group">
                    <label for="actionCorrective">Action Corrective</label>
                    <input type="text" class="form-control" formControlName="actionCorrective" id="actionCorrective" placeholder="Action Corrective">
                </div>
                
                  
            </div>
            <div class="form-group">
                <label for="userId">User ID</label>
                <select class="form-control" formControlName="userId" id="userId">
                  <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
                </select>
              </div>
              
              
            
            
        </div>


        <div class="text-center mt-3">
            <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Enregistrer</button>
            <button type="button" class="btn btn-outline-dark ml-3" (click)="lister()"><i class="fa fa-list-alt mr-2"></i> Liste des rapports d'incidents</button>
        </div>
    </form>
</div>
