<div class="container mt-4">
    <h1 class="text-center mb-4">Ajouter QRQC</h1>
    <hr>
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id" id="id">
  
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dateHeure">Date et heure</label>
                    <input type="date" class="form-control" formControlName="dateHeure" id="dateHeure" required>
                </div>
                <div class="form-group">
                    <label for="signalePar">Signalé par</label>
                    <input type="text" class="form-control" formControlName="signalePar" id="signalePar" required>
                </div>
                <div class="form-group">
                    <label for="departementLigne">Département/Ligne</label>
                    <input type="text" class="form-control" formControlName="departementLigne" id="departementLigne" required>
                </div>
                <div class="form-group">
                    <label for="descriptionProbleme">Description du problème</label>
                    <textarea class="form-control" formControlName="descriptionProbleme" id="descriptionProbleme" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="gravite">Gravité</label>
                    <input type="text" class="form-control" formControlName="gravite" id="gravite" required>
                </div>
                <div class="form-group">
                    <label for="actionImmediate">Action immédiate</label>
                    <textarea class="form-control" formControlName="actionImmediate" id="actionImmediate" rows="3" required></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="analyseCauseRacine">Analyse de la cause racine</label>
                    <textarea class="form-control" formControlName="analyseCauseRacine" id="analyseCauseRacine" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="actionsCorrectives">Actions correctives</label>
                    <textarea class="form-control" formControlName="actionsCorrectives" id="actionsCorrectives" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="personneResponsable">Personne responsable</label>
                    <input type="text" class="form-control" formControlName="personneResponsable" id="personneResponsable" required>
                </div>
                <div class="form-group">
                    <label for="dateLimiteActions">Date limite des actions</label>
                    <input type="date" class="form-control" formControlName="dateLimiteActions" id="dateLimiteActions" required>
                </div>
                <div class="form-group">
                    <label for="verificationActions">Vérification des actions</label>
                    <textarea class="form-control" formControlName="verificationActions" id="verificationActions" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="actionsSuivi">Actions de suivi</label>
                    <textarea class="form-control" formControlName="actionsSuivi" id="actionsSuivi" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="statut">Statut</label>
                    <input type="text" class="form-control" formControlName="statut" id="statut" required>
                </div>
                <div class="form-group">
                    <label for="commentairesNotes">Commentaires/Notes</label>
                    <textarea class="form-control" formControlName="commentairesNotes" id="commentairesNotes" rows="3" required></textarea>
                </div>
            </div>
        </div>

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Enregistrer</button>
            <button type="button" class="btn btn-outline-dark ml-3" (click)="navigateToList()"><i class="fa fa-list-alt mr-2"></i> Liste des rapports d'incidents</button>
        </div>
    </form>
</div>
